<div th:fragment="header">
    <header class="header-container">
        <!-- 로고 -->
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Logo" class="logoImg">
            </a>
        </div>
        </nav>
        <!-- 검색 바 -->
        <div class="search-bar">
            <h1 style="font-family: 'DeltaUniverse-Regular'; font-weight: 'bold';">
                P&nbsp;&nbsp;H&nbsp;&nbsp;A&nbsp;&nbsp;N&nbsp;&nbsp;T&nbsp;&nbsp;O&nbsp;&nbsp;M&nbsp;&nbsp;B&nbsp;&nbsp;O&nbsp;&nbsp;O&nbsp;&nbsp;K&nbsp;&nbsp;S<br><br><br></h1> 
            <form action="/searchBookPage/searchBooks" method="get"
            th:value="${param.searchTitle ?: ''}">
            <input type="text" name="searchTitle" placeholder="검색어를 입력하세요" />
            <button type="submit">Search</button>
                <input type="hidden" name="categories" id="hiddenCategories">
                <input type="hidden" name="preferences" id="hiddenPreferences">
            </form>
        </div>
        

        <!-- 사용자 메뉴 -->
        <div class="user-menu">
            <a href="/member/logout" class="btn btn-primary headerLogoutBtn"> 로그아웃</a>
            <a href="/myPage/info" class="btn btn-primary headerJoinBtn"> 마이페이지</a>
            <a href="/cart" class="btn btn-primary headerCartBtn"> 장바구니</a>
            <a href="/support" class="btn btn-primary headerJoinBtn">고객지원</a>
        </div>
    </header>
</div>

<th:block>
    <div id="side-menu" class="header-side-menu">
        <!-- 사이드 메뉴 항목 -->
        <nav>
            <div class="header-nav-item-wrapper">
                <a href="#" class="header-nav-item">1:1 문의</a>
            </div>
            <div class="header-nav-item-wrapper">
              <a href="#" class="header-nav-item">자주 묻는 질문</a>
            </div>
            <div class="header-nav-item-wrapper">
              <a href="#" class="header-nav-item">공지사항</a>
            </div>
            <div class="header-nav-item-wrapper">
              <a href="#" class="header-nav-item"></a>
            </div>
            <div class="header-nav-item-wrapper">
              <a href="#" class="header-nav-item"></a>
            </div>
            </div>
        </nav>
    </div>
</th:block>