<div th:fragment="header">
    <header class="header-container">
        <!-- 로고 -->
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Logo">
            </a>
        </div>

        <!-- 카테고리 메뉴 -->
        <nav class="categories">
            <a href="#">카테고리1</a>
            <a href="#">카테고리2</a>
            <a href="#">카테고리3</a>
            <a href="/support">고객지원</a>
        </nav>

        <!-- 검색 바 -->
        <div class="search-bar">
            <form action="/searchBookPage/searchBooks" method="get">
                <input type="text" name="searchTitle" placeholder="검색어를 입력하세요" 
                th:value="${param.searchTitle ?: ''}"/>
                <button type="submit">Search</button>
                <input type="hidden" name="categories" id="hiddenCategories">
                <input type="hidden" name="preferences" id="hiddenPreferences">
            </form>
        </div>

        <!-- 사용자 메뉴 -->
        <div class="user-menu">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#modalLogin">로그인</button>
            <a href="/member/signUp" class="btn btn-primary headerJoinBtn">회원가입</a>
            <a href="/cart" class="btn btn-primary headerCartBtn">장바구니</a>
        </div>
    </header>

    <!-- 로그인 모달 -->
    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLoginLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">로그인</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" name="memberId" class="form-control rounded-3" id="floatingInput"
                                placeholder="아이디를 입력하세요.">
                            <label for="floatingInput">아이디를 입력해주세요.</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="memberPw" class="form-control rounded-3" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">비밀번호를 입력해주세요</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">로그인</button>
                    </form>
                    <hr class="my-4">
                    <a href="signUp" class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                        회원가입
                    </a>
                    <a href="findId" class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                        아이디 / 비밀번호 찾기
                    </a>
                    <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                        카카오톡 로그인
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
