<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 문의 관리 페이지</title>

  <script src="https://kit.fontawesome.com/890489b5e8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/admin/adminQuery.css">
</head>
<body>
  <section class="header">
    <div class="logo">
      <a href="/admin">
          <img src="/images/고스트 코딩왕.png" alt="Logo">
      </a>
    </div>
  
   
    <div class="function">
      <!-- 알림 영역 -->
      <div class="notification-container">
       
         <!-- 알림 버튼 -->
        <button class="notification-btn" id="my-element">
          <i class="fa-regular fa-bell">.</i>
          <!-- 알림 개수 표시 -->
          <div class="notification-count-area"></div>
        </button>
        
        <!-- 알림 목록 -->
        <ul class="notification-list">
          
        </ul>
        
      </div>
      
      <!-- 관리자 담당 업무 -->
      <div class="adminName">
        <div>
          담당
        </div>
      </div>
  
      <!-- 채팅방 입장 아이콘 -->
      <div class="chatting">
        채팅방
      </div>
    </div>

  </section>


  <section class="content-box">
    <div class="sideBar">
      <h3 class="menu">
        <i class="fa-solid fa-users"></i>&nbsp;&nbsp;사용자 관련 관리
        <ul class="submenu">
          <li><a href="/admin/myPage">&nbsp;&nbsp;&nbsp;-&nbsp;내정보 변경</a></li>
          <li><a href="/admin">&nbsp;&nbsp;&nbsp;-&nbsp;회원 관리</a></li>
          <li>
            <a href="/admin/adminManager" 
              th:if= "${session.loginMember.name == '관리자' }">&nbsp;&nbsp;&nbsp;-&nbsp;관리자 계정 관리</a>
          </li>
        </ul>
      </h3>
    
      <h3 class="menu">
        <i class="fa-solid fa-arrow-trend-up"></i>&nbsp;&nbsp;매출 및 일정 관리
        <ul class="submenu">
          <li><a href="/admin/sales">&nbsp;&nbsp;&nbsp;-&nbsp;매출 관리</a></li>
          <li><a href="/admin/schedule">&nbsp;&nbsp;&nbsp;-&nbsp;일정 관리</a></li>
        </ul>
      </h3>
      
      <h3 class="menu">
        <i class="fa-solid fa-warehouse"></i>&nbsp;&nbsp;도서 관리
        <ul class="submenu">
          <li><a href="/admin/manager">&nbsp;&nbsp;&nbsp;-&nbsp;재고 관리</a></li>
          <li><a href="/admin/request">&nbsp;&nbsp;&nbsp;-&nbsp;발주 요청</a></li>
          <li><a href="/admin/newBook">&nbsp;&nbsp;&nbsp;-&nbsp;새 책 등록</a></li>
        </ul>
      </h3>
      <h3 class="menu">
        <i class="fa-solid fa-question"></i>&nbsp;&nbsp;고객 지원
        <ul class="submenu">
          <li><a href="/admin/query">&nbsp;&nbsp;&nbsp;-&nbsp;문의 관리</a></li>
          <li><a href="/admin/review">&nbsp;&nbsp;&nbsp;-&nbsp;리뷰 관리</a></li>
          <li><a href="/admin/faq">&nbsp;&nbsp;&nbsp;-&nbsp;FAQ 관리</a></li>
          <li><a href="/admin/notice">&nbsp;&nbsp;&nbsp;-&nbsp;공지사항 관리</a></li>
        </ul>
      </h3>
    </div>
  
  
    <div class="content">
      <h2>문의관리</h2>
      <select class="sortSelect">
        <option value="all">답변 상태</option>
        <option value="no">미답변</option>
        <option value="ok">답변 완료</option>
      </select>
    
      <table class="query-box">
        <thead class="query">
          <tr>
            <th class="queryNo">문의 번호</th>
            <th class="title">제목</th>
            <th class="writer">작성자</th>
            <th class="writeDate">작성일</th>
            <th class="status">답변 상태</th>
          </tr>
        </thead>

        <tbody class="queryContent"> 
          <tr>
            <td class="status">답변완료</td> <!-- div1 -->
            <td><!-- div2 -->
              <div class="title faq-toggle"> <!-- title -->
                <span class="arrow-icon"></span>배송이 언제되는건가요?
              </div>
              <div class="supporting-text" style="display: none;"> <!--content -->
                <p> 
                  20241105에 주문을 했는데 <br>
                  아직도 배송이 안오네요 <br>
                  <br>
                  언제 배송이 도착할까요?
                </p>
                <hr>
                <p>
                  저도 잘몰라요
                </p>
              </div>
            </td>
            <td class="writer">정원근</td> <!-- div3 -->
            <td class="writeDate">2024.11.15</td> <!-- div4 -->
          </tr>
        </tbody>
      </table>
      <div class="pagination-area" >
        <ul class="pagination">
        
          
        </ul>
      </div>
    </div>
  </section>

  
  <!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
      const toggles = document.querySelectorAll(".faq-toggle");
      toggles.forEach(toggle => {
        toggle.addEventListener("click", function () {
                const answer = document.querySelector(".supporting-text");
                const icon = this.querySelector(".arrow-icon");
                if (answer.style.display === "block") {
                  answer.style.display = "none";
                } else {
                  answer.style.display = "block";
                }
              });
        });
    });
  </script> -->
<script src="/js/admin/adminQuery.js"></script>
</body>
</html>