<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 발주 요청 관리 | PhantomBooks</title>

  <script src="https://kit.fontawesome.com/913e662347.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/admin/adminNewBook.css">
</head>
<body>
  <section class="header">
    <div class="logo">
      <a href="/admin">
        <img src="/images/고스트 코딩왕.png" alt="Logo">
      </a>
    </div>

    <div class="function">
      <!-- 관리자 담당 업무 -->
      <div class="adminName">
        <div th:if="${session.loginMember != null}" th:text="${session.loginMember.adminName}">
          담당
        </div>
      </div>

      <!-- 채팅방 입장 아이콘 -->
      <div class="chatting">
        <button class="fa-solid fa-paper-plane" id="chatting">
          <a href="/admin/chatting"></a>
        </button>
      </div>
    </div>

  </section>
  <main>
    <section class="content-box">
      <div class="sideBar">
        <h3 class="menu">
          <i class="fa-solid fa-users"></i>&nbsp;&nbsp;사용자 관련 관리
          <ul class="submenu">
            <li><a href="/admin/myPage">&nbsp;&nbsp;&nbsp;-&nbsp;내정보 변경</a></li>
            <li><a href="/admin">&nbsp;&nbsp;&nbsp;-&nbsp;회원 관리</a></li>
            <li>
              <a href="/admin/adminManager" th:if="${session.loginMember != null and session.loginMember.name == '관리자'}">&nbsp;&nbsp;&nbsp;-&nbsp;관리자 계정 관리</a>
            </li>
          </ul>
        </h3>

        <h3 class="menu">
          <i class="fa-solid fa-arrow-trend-up"></i>&nbsp;&nbsp;매출 및 일정 관리
          <ul class="submenu">
            <li><a href="/admin/sales">&nbsp;&nbsp;&nbsp;-&nbsp;매출 관리</a></li>
            <li><a href="/admin/schedule">&nbsp;&nbsp;&nbsp;-&nbsp;일정 관리</a></li>
          </ul>
        </h3>

        <h3 class="menu">
          <i class="fa-solid fa-warehouse"></i>&nbsp;&nbsp;도서 관리
          <ul class="submenu">
            <li><a href="/admin/manager">&nbsp;&nbsp;&nbsp;-&nbsp;재고 관리</a></li>
            <li><a href="/admin/request">&nbsp;&nbsp;&nbsp;-&nbsp;발주 요청</a></li>
            <li><a href="/admin/newBook">&nbsp;&nbsp;&nbsp;-&nbsp;새 책 등록</a></li>
          </ul>
        </h3>
        <h3 class="menu">
          <i class="fa-solid fa-question"></i>&nbsp;&nbsp;고객 지원
          <ul class="submenu">
            <li><a href="/admin/query">&nbsp;&nbsp;&nbsp;-&nbsp;문의 관리</a></li>
            <li><a href="/admin/review">&nbsp;&nbsp;&nbsp;-&nbsp;리뷰 관리</a></li>
            <li><a href="/admin/faq">&nbsp;&nbsp;&nbsp;-&nbsp;FAQ 관리</a></li>
            <li><a href="/admin/notice">&nbsp;&nbsp;&nbsp;-&nbsp;공지사항 관리</a></li>
          </ul>
        </h3>
      </div>
  
    <div class="content2">
      <h2>발주 요청관리</h2>
    
      <table class="request-box">
        <thead class="request">
          <tr>
            <th class="requestNo">번호</th>
            <th class="title">책 제목</th>
            <th class="company">출판사</th>
            <th class="content">발주요청 부수</th>
            <th class="status">요청 가격</th>
            <th class="requestYn">등록여부</th>
            <th class="button">등록하기</th>
          </tr>
        </thead>

        <tbody class="requestContent"> 
          <tr th:if="${#lists.isEmpty(newBookList)}">
            <td colspan="7">발주요청 된 자료가 없습니다.</td>
          </tr>

          <tr th:each="request : ${newBookList}" th:unless="${#lists.isEmpty(newBookList)}">
            <td th:text="${request.requestNo}">발주 요청 번호</td>
            <td th:text="${request.bookTitle}">책 제목</td>
            <td th:text="${request.companyName}">출판사</td>
            <td th:text="${request.requestCount}">발주요청 부수</td>
            <td th:text="${request.requestPrice}">요청 가격</td>
            <td th:text="${request.requestYn == 'Y'} ? '등록 완료' : '등록 대기'">등록여부</td>
            <td>
              <button class="updateBtn" th:value="${request.bookNo}">등록하기</button>
              <button class="deleteBtn" th:value="${request.requestNo}">삭제</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination-area" th:if="${not #lists.isEmpty(newBookList)}">
        <ul class="pagination">
          <li><a th:href="@{/admin/newBook(cp=1)}">&lt;&lt;</a></li>
          <li><a th:href="@{/admin/newBook(cp=${pagination.prevPage})}">&lt;</a></li>
          
          <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
            <a th:href="@{/admin/newBook(cp=${i})}" 
               th:text="${i}"
               th:class="${i == pagination.currentPage} ? 'current'">1</a>
          </li>
          
          <li><a th:href="@{/admin/newBook(cp=${pagination.nextPage})}">&gt;</a></li>
          <li><a th:href="@{/admin/newBook(cp=${pagination.maxPage})}">&gt;&gt;</a></li>
        </ul>
      </div>
    </div>
    
  </section>
 
  <script src="/js/admin/adminNewBook.js"></script>
</body>
</html>