<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 계정 관리 페이지</title>

  <script src="https://kit.fontawesome.com/890489b5e8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/admin/adminPage.css">
</head>
<body>
  <section class="header">
    <div class="logo">
      <a href="/admin">
          <img src="/images/고스트 코딩왕.png" alt="Logo">
      </a>
    </div>
  
   
    <div class="function">
      <!-- 관리자 담당 업무 -->
      <div class="adminName">
        <div th:if= "${session.loginMember}"
             th:text="${session.loginMember.adminName}">
          담당
        </div>
      </div>
  
      <!-- 채팅방 입장 아이콘 -->
      <div class="chatting">
        <button class="fa-solid fa-paper-plane" id="openPopup"></button>
      </div>
    </div>
    <header th:replace="~{admin/adminChatting}"></header>

  </section>


  <section class="content-box">
    <div class="sideBar">
      <h3 class="menu">
        <i class="fa-solid fa-users"></i>&nbsp;&nbsp;사용자 관련 관리
        <ul class="submenu">
          <li><a href="/admin/myPage">&nbsp;&nbsp;&nbsp;-&nbsp;내정보 변경</a></li>
          <li><a href="/admin">&nbsp;&nbsp;&nbsp;-&nbsp;회원 관리</a></li>
          <li>
            <a href="/admin/adminManager" 
              th:if= "${session.loginMember.name == '관리자' }">&nbsp;&nbsp;&nbsp;-&nbsp;관리자 계정 관리</a>
          </li>
        </ul>
      </h3>
    
      <h3 class="menu">
        <i class="fa-solid fa-arrow-trend-up"></i>&nbsp;&nbsp;매출 및 일정 관리
        <ul class="submenu">
          <li><a href="/admin/sales">&nbsp;&nbsp;&nbsp;-&nbsp;매출 관리</a></li>
          <li><a href="/admin/schedule">&nbsp;&nbsp;&nbsp;-&nbsp;일정 관리</a></li>
        </ul>
      </h3>
      
      <h3 class="menu">
        <i class="fa-solid fa-warehouse"></i>&nbsp;&nbsp;도서 관리
        <ul class="submenu">
          <li><a href="/admin/manager">&nbsp;&nbsp;&nbsp;-&nbsp;재고 관리</a></li>
          <li><a href="/admin/request">&nbsp;&nbsp;&nbsp;-&nbsp;발주 요청</a></li>
          <li><a href="/admin/newBook">&nbsp;&nbsp;&nbsp;-&nbsp;새 책 등록</a></li>
        </ul>
      </h3>
      <h3 class="menu">
        <i class="fa-solid fa-question"></i>&nbsp;&nbsp;고객 지원
        <ul class="submenu">
          <li><a href="/admin/query">&nbsp;&nbsp;&nbsp;-&nbsp;문의 관리</a></li>
          <li><a href="/admin/review">&nbsp;&nbsp;&nbsp;-&nbsp;리뷰 관리</a></li>
          <li><a href="/admin/faq">&nbsp;&nbsp;&nbsp;-&nbsp;FAQ 관리</a></li>
          <li><a href="/admin/notice">&nbsp;&nbsp;&nbsp;-&nbsp;공지사항 관리</a></li>
        </ul>
      </h3>
    </div>
  
  
    <div class="content">
      <div class="title">
      <h2>관리자 계정 관리</h2>

        <button id="createAdmin"
                th:if= "${session.loginMember.name == '관리자' }">
          관리자 계정 생성
        </button>
      </div>
      <table class="admin-box">
        <thead class="admin">
          <tr>
            <th class="adminNo">관리자 번호</th>
            <th class="adminId">관리자 아이디</th>
            <th class="adminName">담당 업무</th>
            <th class="adimnEmail">담당자 이메일</th>
            <th>
              관리자 계정 정보 수정
            </th>
            <th>
              관리자 계정 삭제
            </th>
          </tr>
        </thead>

        <tbody class="adminContent"> 
          <tr>
          </tr>
        </tbody>
      </table>
      <div class="pagination-area" >
        <ul class="pagination">
        
          
        </ul>
      </div>
    </div>
  </section>

  

<script src="/js/admin/adminPage.js"></script>

</body>
</html>