<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>발주요청</title>
  <script src="https://kit.fontawesome.com/890489b5e8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/admin/adminRequest.css">
</head>
<body>
  <section class="header">
    <div class="logo">
      <a href="/admin">
          <img src="/images/고스트 코딩왕.png" alt="Logo">
      </a>
      
    </div>
  
    <div class="function">

      
      <!-- 관리자 담당 업무 -->
      <div class="adminName">
        <div th:if= "${session.loginMember}"
             th:text="${session.loginMember.adminName}">
          담당
        </div>
      </div>
  
      <!-- 채팅방 입장 아이콘 -->
      <div class="chatting">
        <button class="fa-solid fa-paper-plane" id="openPopup"></button>
      </div>
     </div>
    <!-- <header th:replace="~{admin/adminChatting}"></header>  -->

  </section>
  <main>
    <section class="content-box">
      <div class="sideBar">
        <h3 class="menu">
          <i class="fa-solid fa-users"></i>&nbsp;&nbsp;사용자 관련 관리
          <ul class="submenu">
            <li><a href="/admin/myPage">&nbsp;&nbsp;&nbsp;-&nbsp;내정보 변경</a></li>
            <li><a href="/admin">&nbsp;&nbsp;&nbsp;-&nbsp;회원 관리</a></li>
            <li>
              <a href="/admin/adminManager" 
                th:if= "${session.loginMember.name == '관리자' }">&nbsp;&nbsp;&nbsp;-&nbsp;관리자 계정 관리</a>
            </li>
          </ul>
        </h3>
      
        <h3 class="menu">
          <i class="fa-solid fa-arrow-trend-up"></i>&nbsp;&nbsp;매출 및 일정 관리
          <ul class="submenu">
            <li><a href="/admin/sales">&nbsp;&nbsp;&nbsp;-&nbsp;매출 관리</a></li>
            <li><a href="/admin/schedule">&nbsp;&nbsp;&nbsp;-&nbsp;일정 관리</a></li>
          </ul>
        </h3>
        
        <h3 class="menu">
          <i class="fa-solid fa-warehouse"></i>&nbsp;&nbsp;도서 관리
          <ul class="submenu">
            <li><a href="/admin/manager">&nbsp;&nbsp;&nbsp;-&nbsp;재고 관리</a></li>
            <li><a href="/admin/request">&nbsp;&nbsp;&nbsp;-&nbsp;발주 요청</a></li>
            <li><a href="/admin/newBook">&nbsp;&nbsp;&nbsp;-&nbsp;발주 요청내역</a></li>
          </ul>
        </h3>
        <h3 class="menu">
          <i class="fa-solid fa-question"></i>&nbsp;&nbsp;고객 지원
          <ul class="submenu">
            <li><a href="/admin/query">&nbsp;&nbsp;&nbsp;-&nbsp;문의 관리</a></li>
            <li><a href="/admin/review">&nbsp;&nbsp;&nbsp;-&nbsp;리뷰 관리</a></li>
            <li><a href="/admin/faq">&nbsp;&nbsp;&nbsp;-&nbsp;FAQ 관리</a></li>
            <li><a href="/admin/notice">&nbsp;&nbsp;&nbsp;-&nbsp;공지사항 관리</a></li>
          </ul>
        </h3>
      </div>
     
  
    <div class="content">
      <div class="title">
        <h1>발주 요청</h1><hr>
      </div>
  
      <div class="graph-box">
        정렬 기준
        <label class="sort-dropdown">
          <select id="sortSelect" >
              <option value="all">전체</option>
              <option value="company">출판사</option>
              <option value="title">책 제목별</option>
          </select>
        </label>
        <div>
          <input type="text" id="searchText" class= "hidden">
        </div>
        <label class="view-dropdown">
          <select id="viewSelect">
              <option value="10">10개</option>
              <option value="20">20개</option>
              <option value="50">50개</option>
          </select>
        </label>
        <div class="list">
          <table class="bookList">
            <thead>
              <tr>
                <th>책 번호</th>
                <th>책 제목</th>
                <th>출판사</th>
                <th>잔여 수량</th>
              </tr>
            </thead>
  
            <tbody id="bookList">
              <tr>
                <th>1</th>
                <th>이것이 JAVA!</th>
                <th>000</th>
                <th>KH출판사</th>
                <th>40 / 100</th>
                <th>2024.11.11</th>
                <th>N</th>
                <th>
                  <button>등록여부 수정</button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination">페이지네이션</div>

      </div>

      <div id="resultArea">
        <table>

          <tbody class="resultArea">
            <tr>
              <th rowspan="3">1</th>
              <th colspan="4"></th>
            </tr>
            <tr>
              <th colspan="4"></th>
            </tr>
            <tr>
              <th colspan="4"></th>
            </tr>
          </tbody>

        </table>
      </div>
      
      <button id="newRequestBtn">신간 발주 요청</button>

      <div id="newBook" class="hidden popup-layer-close">
        <div>
          <label for="bookTitle"> 책 제목 : </label>
          <input type="text" id="bookTitle" name="bookTitle">
        </div>
        <div>
          <label for="bookContent"> 책 내용 : </label>
          <input type="text" id="bookContent" name="bookContent">
        </div>
        <div>
          <label for="bookCover"> 책 이미지 : </label>
          <input type="file" id="bookCover" name="bookCover">
        </div>
        <div>
          <label for="bookWriter"> 지은이 : </label>
          <input type="text" id="bookWriter" name="bookWriter">
        </div>
        <div>
          <label for="companyName"> 출판사 : </label>
          <input type="text" id="companyName" name="companyName">
        </div>
        <div>
          <label for="email"> 담당자 이메일 : </label>
          <input type="text" id="email" name="email">
        </div>
        <div>
          <label for="bookTalt"> 옮긴이 : </label>
          <input type="text" id="bookTalt" name="bookTalt">
        </div>
        <div>
          <label for="bookPrice"> 가격 : </label>
          <input type="text" id="bookPrice" name="bookPrice">
        </div>
        <div>
          <label for="bookPageCount"> 페이지 수 : </label>
          <input type="text" id="bookPageCount" name="bookPageCount">
        </div>
        <div>
          <label for="bookDate"> 출간일 : </label>
          <input type="text" id="bookDate" name="bookDate">
        </div>
        <div>
          <label for="requestCount"> 요청 수량 : </label>
          <input type="text" id="requestCount" name="requestCount">
        </div>
        <div>
          <label for="requestPrice"> 요청가격 : </label>
          <input type="text" id="requestPrice" name="requestPrice">
        </div>

        <button id="requestBtn">발주요청</button>
        <button id="back">취소</button>
      </div>

    </div>


    
  </section>


  <script src="/js/admin/adminRequest.js"></script>
</body>
</html>