<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 메인페이지</title>

  <link rel="stylesheet" href="/css/admin/main.css">
</head>
<body>
  <h1>우측에 이름, 직급(담당업무)/비밀번호/이메일 변경 페이지로 이동</h1>
  
  <section class="content-box">
    <div class="sideBar">
      사이드바
    </div>
  
    <div class="content">
      <h1>회원가입 현황</h1>
      <div class="sort-dropdown">
        <select id="sortSelect">
            <option value="weeks">1주일</option>
            <option value="month">1개월</option>
            <option value="6month">6개월</option>
        </select>
      </div>
    
      <div class="graph-box">
    
        <div class="sales"> 
          <div>총 회원 수 : 00명</div>
          <div>기간 중 가입 회원 수 : 00명</div>
          <div>기간 중 탈퇴 회원수 : 00명</div>
        </div>
    
        <div class="content-box">
          <div class="graph">
            <div class="graph-title">
              <span>거래액 그래프</span>
              <span>클릭 된 버튼 / 기간</span>
            </div>
            <div class="graph-section">
              <a href="#">그래프 그릴거예여</a>
            </div>
          </div>
    
          <div class="salesRank">
            <h2>최근 가입 회원</h2>
            <table class="sales-table">
              <thead>
                <tr>
                  <th>회원번호</th>
                  <th>회원 아이디</th>
                  <th>가입일</th>
                  <th>최근 로그인</th>
                  <th>탈퇴 처리</th>
                </tr>
              </thead>

              <tbody id="list">
                <tr>
                  <th>2️⃣</th>
                  <td>책이름</td>
                  <td>매출량</td>
                  <td>상승 / 하강 화살표</td>
                </tr>
                <tr>
                  <th>3️⃣</th>
                  <td>책이름</td>
                  <td>매출량</td>
                  <td>상승 / 하강 화살표</td>
                </tr>
                <tr>
                  <th>4️⃣</th>
                  <td>책이름</td>
                  <td>매출량</td>
                  <td>상승 / 하강 화살표</td>
                </tr>
                <tr>
                  <th>5️⃣</th>
                  <td>책이름</td>
                  <td>매출량</td>
                  <td>상승 / 하강 화살표</td>
                </tr>
              </tbody>
            </table>
            <div class="pagination-area" >
              <ul class="pagination">
              
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/admin/main.js"></script>
</body>
</html>