<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>재고관리</title>

  <link rel="stylesheet" href="/css/admin/manager.css">
</head>
<body>
  <h1>해더</h1>

  <section class="content-box">
    <div class="sideBar">
      <h3>
        <a href="/admin">회원 관리</a>
      </h3>
      <h3>
        <a href="/admin/sales">매출 관리</a>
      </h3>
      <h3>
        <a href="/admin/manager">재고 관리</a>
      </h3>
      <h3>
        <a href="/admin/schedule">일정 관리</a>
      </h3>
      <h3>
        <a href="/admin/request">발주 요청</a>
      </h3>
      <h3>
        <a href="/admin/newBook">새 책 등록</a>
      </h3>
      <h3>
        <a href="/admin/query">문의 관리</a>
      </h3>
      <h3>
        <a href="/admin/review">리뷰 관리</a>
      </h3>
      <h3>
        <a href="#">추가 해야되면 복사</a>
      </h3>
    </div>
  
    <div class="content">
      <div class="title">
        <h2>재고관리</h2>
      </div>
  
      <div class="graph-box">
        그래프 그리기(출판사별, 책종류별, 저자별, 가격별)
        <label class="sort-dropdown">
          <select id="sortSelect" >
              <option value="all">전체</option>
              <option value="company">출판사</option>
              <option value="title">책 제목별</option>
          </select>
        </label>
        <div>
          <input type="text" id="searchText" class= "hidden">
        </div>

        <ul id="resultArea">

        </ul>
      </div>
  
      <div class="list">
        <table border="1">
          <thead>
            <tr>
              <th>책 번호</th>
              <th>책 제목</th>
              <th>책 저자</th>
              <th>출판사</th>
              <th>잔여 수량 / 최초 발주 수량</th>
              <th>등록일자</th>
              <th>등록 여부(Y/N)</th>
              <th>
                등록여부 수정
              </th>
            </tr>
          </thead>

          <tbody id="bookList">
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>40 / 100</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            <tr>
              <th>1</th>
              <th>이것이 JAVA!</th>
              <th>000</th>
              <th>KH출판사</th>
              <th>25,000원</th>
              <th>2024.11.11</th>
              <th>N</th>
              <th>
                <button>등록여부 수정</button>
              </th>
            </tr>
            
          </tbody>
        </table>
      </div>

      <div class="pagination">페이지네이션</div>
    </div>
  </section>

  <script src="/js/admin/manager.js"></script>
</body>
</html>