<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 완료</title>
</head>
<body>
<main>
    <h1>주문이 완료되었습니다!</h1>

    <h2>배송지 정보</h2>
    <p>우편번호: <span th:text="${order.deliveryAddress.zip}"></span></p>
    <p>주소: <span th:text="${order.deliveryAddress.address}"></span></p>
    <p>상세 주소: <span th:text="${order.deliveryAddress.detailAddress}"></span></p>
    <p>수령인: <span th:text="${order.deliveryAddress.receiver}"></span></p>
    <p>전화번호: <span th:text="${order.deliveryAddress.tel}"></span></p>

    <h2>주문 상품 목록</h2>
    <table>
        <thead>
        <tr>
            <th>상품명</th>
            <th>수량</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${order.books}">
            <td th:text="${item.bookTitle}"></td>
            <td th:text="${item.bookCount}"></td>
            <td th:text="${item.bookPrice} + ' 원'"></td>
        </tr>
        </tbody>
    </table>

    <h3>총 결제 금액: <span th:text="${order.totalPrice} + ' 원'"></span></h3>
</main>
</body>
</html>
