<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 완료 페이지</title>
  <link rel="stylesheet" href="/css/order/order.css">

</head>
<body>
  <section class="addressSection">
    <div>
      <h2>주문/ 배송 조회</h2>
          <p>주문이 완료되었습니다</p>
    </div>
  </section>

  <h4>주문 날짜       주문 번호</h4>
  <div class="orderMainContainer">
    <section class="orderlistSection">
      <div>
        <h4>주문 상품 목록 <button>취소 신청</button></h4> 
        <h3>총 N 개</h3>
        
        <hr>
         <div class="basicAddress">
            <div>
              <h3>배송 정보</h3>
              <h4>받는 사람 / 전화번호 <button>배송정보 변경</button></h4>
              <h4>주소 ~~~</h4>


            </div>
         </div>
      </div>
    </section>
  
    
  </div>
</body>
</html>