<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 완료 페이지</title>
  <link rel="stylesheet" href="/css/order/order.css">

  
</head>
<body>
  <section class="addressSection">
    <div>
      <h2>주문/ 배송 조회</h2>
          <p>주문이 완료되었습니다</p>
    </div>
  </section>

  <h4>주문 날짜       주문 번호</h4>
  <div class="orderMainContainer">
    <section class="orderlistSection">
      <div>
        <h4>주문 상품 목록</h4>
        <div>
          <ul>
            <li>주문 번호: <span th:text="${order.orderId}"></span></li>
            <li>주문 날짜: <span th:text="${order.orderDate}"></span></li>
            <li>총 결제 금액: <span th:text="${order.totalPrice} + '원'"></span></li>
            <li>배송 주소: <span th:text="${order.deliveryAddress}"></span></li>
            <li>수령인: <span th:text="${order.receiver}"></span></li>
          </ul>
        </div>
      </div>
    </section>
  
    
  </div>
  <script src="/static/js/order/afterOrder"></script>
</body>
</html>