<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 페이지</title>
  <link rel="stylesheet" href="/css/order/order.css">
  <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
</head>
<body>
  <header th:replace="~{common/common}"></header>
  <main class="orderMain">
    <section class="addressSection">
      <div>
        <h2>주문/결제</h2>
        <div class="basicAddress">
          <p>기본 배송지를 등록해주세요</p>
          <button onclick="registerAddress()">배송지 입력</button>
        </div>
      </div>
    </section>

    <h4>주문 상품 목록</h4>
    <table>
      <thead>
        <tr>
          <th>상품명</th>
          <th>수량</th>
          <th>가격</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item : ${orderItems}">
          <td th:text="${item.bookTitle}">상품명</td>
          <td th:text="${item.cartCount}">수량</td>
          <td>
            <span th:text="${item.bookPrice * item.cartCount} + ' 원'"></span>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>
      <span class="delivery-fee" th:text="'배송비: ' + ${deliveryFee} + ' 원'"></span>
    </h3>
   
    <h3>총 결제 금액: 
      <span id="totalPriceElement" th:text="${totalPrice + deliveryFee} + ' 원'"></span>
    </h3>

    <button onclick="requestPay()">결제하기</button>
  </main>

  <script>
    function requestPay() {
      // 총 결제 금액 추출
      const totalAmountText = document.getElementById('totalPriceElement').innerText;
      const totalAmount = parseInt(totalAmountText.replace(/[^\d]/g, ''), 10);

      PortOne.requestPayment({
        storeId: "store-e4038486-8d83-41a5-acf1-844a009e0d94",
        paymentId: "testm3mr3luo2d",
        orderName: "테스트 결제",
        // 테스트 결제 시
        totalAmount: 100,
        // 실제 결제 시
        // totalAmount: totalAmount, 
        currency: "KRW",
        
        payMethod: "CARD",
        card: {},
        onSuccess: function(response) {
          // 결제 성공 시 리다이렉트
          console.log('결제 성공:', response);
          window.location.href = "/order/afterOrder.html";
        },
        onFailure: function(error) {
          // 결제 실패 시 알림
          console.error('결제 실패:', error);
          alert('결제에 실패했습니다. 다시 시도해주세요.');
        }
      });
    }
  </script>
</body>
</html>
