<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 페이지</title>
  <link rel="stylesheet" href="/css/order/order.css">

  <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
</head>
<body>
  <section class="addressSection">
    <div>
      <h2>주문/ 결제</h2>
       <div class="basicAddress">
          <p>기본 배송지를 등록해주세요</p>
          <button>배송지 입력</button>
       </div>
    </div>
  </section>

  <h4>주문 상품 목록</h4>
  <div class="orderMainContainer">
    <section class="orderlistSection">
      <div>
        <h4>주문 상품 목록</h4> <h3>총 N 개</h3>
        <hr>
         <div class="basicAddress">
            <div>
              <img src="{imgUrl}" alt="책 사진";>
              <h3>책 제목    개수     가격</h3>
            </div>
         </div>
      </div>
    </section>
  
    <section class="orderBtnSection">
      <div>
        <h3>상품 금액 : OOO 원</h3>
        <h3>배송비    : OOO 원</h3>
        <h3>마일리지 사용 : OOO 원</h3>
        <hr>
        <h3>최종 결제 금액 :  OOO 원</h3>
        <button onclick="requestPay()">결제하기</button>
      </div>
    </section>
  </div>

  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

<button onclick="requestPay()">결제하기</button>

<script>
IMP.init("imp14397622");

function requestPay() {
  IMP.request_pay({
    channelKey: "채널키",
    pay_method: "card",
    merchant_uid: "test_m3fap7ff",
    name: "테스트 결제",
    amount: 100,
    buyer_tel: "010-0000-0000",
  });
}
</script>

</body>
</html>