<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to PhantomBooks</title>
  <link rel="stylesheet" href="/css/main/main.css">
</head>

<body>
  <header th:replace="~{common/common}"></header>
  <main>
    <section class="recommend">
      <h2>오늘의 추천 도서</h2>
      <div class="book-slider" id="bookSlider">
        <div th:if="${not #lists.isEmpty(books)}" 
             th:each="book, status : ${books}" 
             class="book" 
             th:data-index="${status.index}">
          <div class="book-cover">
            <img th:src="${book.bookCover}" th:alt="${book.bookTitle}">
          </div>
          <div class="book-info">
            <h3 th:text="${book.bookTitle}">책 제목</h3>
            <ul>
              <li th:text="${book.categoryName}">카테고리</li>
              <li th:text="${book.bookWriter}">작가</li>
              <li th:text="${book.companyName}">출판사</li>
              <li th:text="${book.bookPrice}">가격</li>
              <li th:text="|평점: ${book.scoreAvg}|">평점</li>
            </ul>
          </div>
        </div>
        <div th:if="${#lists.isEmpty(books)}" class="no-books">
          현재 표시할 책이 없습니다.
        </div>
      </div>
    </section>


      <section class="personalized">
        <h2>오늘의 베스트셀러</h2>
        <div th:if="${bestsellerBooks}" class="bestseller-wrapper">
          <div th:each="book : ${bestsellerBooks}" class="bestseller-item">
            <img th:src="${book.bookCover}" th:alt="${book.bookTitle}">
            <h3 th:text="${book.bookTitle}">제목</h3>
            <p th:text="${book.bookWriter}">작가</p>
            <p th:text="${book.bookPrice}">가격</p>
          </div>
        </div>
    </section>

    <section class="personalized" th:if="${session.loginMember != null}">
      <h2>취향에 맞는 추천도서</h2>
      <div class="RecommendContainer">
        <div class="recommendWrapperContainer">
          <div class="recommendation-wrapper" id="scroll-container">
            <ul class="recommendation-list">
              <li th:each="book : ${myTypeBooks}" class="recommendation-item">
                <a th:href="@{/book/detail/{bookNo}(bookNo=${book.bookNo})}">
                  <img th:src="${book.bookImageURL}" th:alt="${book.bookTitle}">
                  <h3 th:text="${book.bookTitle}">도서명</h3>
                  <p th:text="${book.bookPrice}">가격</p>
                  <p th:text="|평점: ${book.scoreAvg}|">평점</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- 푸터 조각 삽입 -->
  <footer th:replace="~{common/footer :: footer}"></footer>
  <script src="/js/main/main.js"></script>
</body>

</html>