<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminNoticeMapper">

	<select id="countNotice" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		<choose>
			<when test="key == 'all'">
				
			</when>
			<when test="key == 'no'">
				WHERE STATUS = 0
			</when>
			<when test="key == 'ok'">
				WHERE STATUS = 1
			</when>
		</choose>
	</select>

	<select id="noticeList" resultType="Notice">
		SELECT 
			NOTICE_ID,
			TITLE,
			CONTENT,
			TO_CHAR(CREATE_DATE,'YYYY-MM-DD')AS CREATE_DATE,
			"VIEW",
			STATUS
		FROM NOTICE
		
		<choose>
			<when test="key == 'all'">
				
			</when>
			<when test="key == 'no'">
				WHERE STATUS = 0
			</when>
			<when test="key == 'ok'">
				WHERE STATUS = 1
			</when>
		</choose>
		ORDER BY NOTICE_ID DESC
	</select>

	<insert id="insertNotice" parameterType="Notice" useGeneratedKeys="true" keyColumn="NOTICE_ID" keyProperty="noticeId" >
	INSERT INTO NOTICE
	VALUES(
		(SELECT NVL(MAX(NOTICE_ID),  0) + 1 AS NOTICE_ID  FROM NOTICE),
		#{title},
		#{content},
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT
	)
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET 
		 TITLE = #{title},
		 CONTENT = #{content}
		WHERE NOTICE_ID = #{noticeId}
	</update>

	<delete id="deleteNotice" >
		DELETE FROM NOTICE
		WHERE NOTICE_ID = #{noticeId}
	</delete>
	
	<update id="updateStatus">
		UPDATE NOTICE
		SET STATUS = DECODE(STATUS , 1, 0, 1)
		WHERE NOTICE_ID = #{noticeId}
	</update>
</mapper>
