<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminManagerMapper">

	<select id="countAdmin" resultType="_int">
		SELECT
			COUNT(*)
		FROM "ADMIN"
		LEFT JOIN "MEMBER" USING (MEMBER_NO)
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="adminList" resultType="Member">
		SELECT
			*
		FROM "ADMIN"
		LEFT JOIN "MEMBER" USING (MEMBER_NO)
		ORDER BY MEMBER_NO DESC
	</select>
</mapper>
