<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminRequestMapper">

	<insert id="insertRequestList" 
			parameterType="Book" 
			useGeneratedKeys="true">
		
    INSERT INTO BOOK_REQUEST
    VALUES (
        (SELECT NVL(COUNT(REQUEST_NO), 0) + 1 AS REQUEST_NO FROM BOOK_REQUEST),
        #{bookNo},
        #{currentCount},
        #{bookPrice},
        DEFAULT,
        DEFAULT,
        DEFAULT
    )
	</insert>
	
	
	
	
		<insert id="insertNewBookList" 
			parameterType="Request" 
			useGeneratedKeys="true">
		
    INSERT INTO BOOK_REQUEST
    VALUES (
    		(SELECT NVL(COUNT(REQUEST_NO), 0)+1 AS BOOK_NO FROM BOOK_REQUEST),
        (SELECT NVL(COUNT(BOOK_NO), 0) + 1 AS BOOK_NO FROM BOOK),
        #{currentCount},
        #{bookPrice},
        DEFAULT,
        DEFAULT,
        DEFAULT
    )
	</insert>
	
	<insert id="insertNewBookRequest"
					parameterType="Request"
					useGeneratedKeys="true">
		INSERT INTO NEW_BOOK_REQUEST
		VALUES(
				(SELECT NVL(COUNT(BOOK_NO), 0) + 1 AS BOOK_NO FROM BOOK),
        #{bookTitle},
        #{bookContent},
        #{bookCover},
        TO_DATE(#{bookDate}, 'YYYY-MM-DD'),
        #{bookWriter},
        #{companyName},
        #{bookTalt},
        #{bookPrice},
        #{bookPageCount},
        'N'
		)
	</insert>
	
	<insert id="updateCompany">
		INSERT INTO COMPANY
		(COMPANY_NAME, EMAIL)
		VALUES(
			#{companyName},
			#{email}
		)
	</insert>
	
	<update id="updateEmail">
		UPDATE COMPANY 
		SET EMAIL=#{email}
		WHERE COMPANY_NAME = #{companyName}
	</update>
	
	
</mapper>
