<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminSalesMapper">

	<select id="countSales" resultType="_int">
		 SELECT
		 	COUNT(BOOK_NO)
		 FROM "ORDER"
		 LEFT JOIN ORDER_LIST USING(ORDER_NO)
		 LEFT JOIN BOOK USING(BOOK_NO)
		 LEFT JOIN BOOK_CATEGORY USING (BOOK_NO)
		 WHERE BOOK_NO IS NOT NULL	
		 <choose>
		 	<when test="sort == 'sales' and term == 'year'">
		 		AND ORDER_DATE >= CURRENT_DATE - INTERVAL '1' YEAR
		 	</when>
		 	<when test="term == 'weeks' and sort == 'sales'">
		 		AND ORDER_DATE  >= CURRENT_DATE - INTERVAL '7' DAY
		 	</when>
		 	<when test="term == 'month' and sort == 'sales'">
		 		AND ORDER_DATE >= CURRENT_DATE - INTERVAL '1'MONTH
		 	</when>
		 	<when test="term == '6month' and sort == 'sales'">
		 		AND ORDER_DATE >= CURRENT_DATE - INTERVAL '6'MONTH
		 	</when>
		 	<when test="sort == 'all' and term == 'dateSelect'">
		 		AND ORDER_DATE >= #{date}
		 	</when>
		 	<when test="sort == 'company'">
				 AND COMPANY_NAME LIKE '%'||#{text}||'%'
		 	</when>
		 	<when test="sort == 'bookTitle'">
				 AND BOOK_TITLE LIKE '%'||#{text}||'%'
		 	</when>
		 </choose>
		 ORDER BY ORDER_PRICE DESC
	</select>
	
	<select id="salesList" resultType="OrderBookDto">
		SELECT 
			BOOK_NO,
		    BOOK_TITLE,
		    BOOK_COUNT,
		    SUM(ORDER_PRICE) AS ORDER_PRICE,
		    TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') AS ORDER_DATE,
		    SUM(BOOK_PRICE) AS BOOK_PRICE,
		    NVL(MAX(REQUEST_PRICE), MAX(BOOK_PRICE) * 0.6) AS REQUEST_PRICE
		FROM "ORDER"
		LEFT JOIN ORDER_LIST USING(ORDER_NO)
		LEFT JOIN BOOK USING(BOOK_NO)
		LEFT JOIN BOOK_REQUEST USING (BOOK_NO)
		WHERE BOOK_NO IS NOT NULL
		<choose>
		 	<when test="sort == 'sales' and term == 'year'">
		 		AND ORDER_DATE >= CURRENT_DATE - INTERVAL '1'YEAR
		 	</when>
		 	<when test="term == 'weeks' and sort == 'sales'">
		 		AND ORDER_DATE  >= CURRENT_DATE - INTERVAL '7'DAY
		 	</when>
		 	<when test="term == 'month' and sort == 'sales'">
		 		AND ORDER_DATE >= CURRENT_DATE - INTERVAL '1'MONTH
		 	</when>
		 	<when test="term == '6month' and sort == 'sales'">
		 		AND ORDER_DATE >= CURRENT_DATE - INTERVAL '6'MONTH
		 	</when>
		 	<when test="sort == 'sales' and term == 'dateSelect'">
		 		AND ORDER_DATE >= #{date}
		 	</when>
		 	<when test="sort == 'company'">
				 AND COMPANY_NAME LIKE '%'||#{text}||'%'
		 	</when>
		 	<when test="sort == 'bookTitle'">
				 AND BOOK_TITLE LIKE '%'||#{text}||'%'
		 	</when>
		 </choose>
			GROUP BY 
				BOOK_NO,
				BOOK_COUNT,
			    BOOK_TITLE, 
			    TO_CHAR(ORDER_DATE, 'YYYY-MM-DD')
			ORDER BY 
			    ORDER_PRICE DESC
	</select>
	
	<select id="chartData" resultType="ChartSales">
		SELECT 
		    TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') AS ORDER_DATE,
		    SUM(ORDER_PRICE) AS ORDER_PRICE,	
		    SUM(NVL(REQUEST_PRICE, BOOK_PRICE * 0.6)) AS REQUEST_PRICE,
		    SUM(ORDER_COUNT) AS ORDER_COUNT
		FROM "ORDER"
		LEFT JOIN ORDER_LIST USING(ORDER_NO)
		LEFT JOIN BOOK USING(BOOK_NO)
		LEFT JOIN BOOK_REQUEST USING (BOOK_NO)
		<choose>
		 	<when test="sort == 'sales' and term == 'year'">
		 		WHERE ORDER_DATE >= CURRENT_DATE - INTERVAL '1'YEAR
		 	</when>
		 	<when test="term =='weeks' and sort == 'sales'">
		 		WHERE ORDER_DATE >= CURRENT_DATE - INTERVAL '7'DAY
		 	</when>
		 	<when test="sort == 'sales' and term == 'month'">
		 		WHERE ORDER_DATE >= CURRENT_DATE - INTERVAL '1'MONTH
		 	</when>
		 	<when test="sort == 'sales' and term == '6month'">
		 		WHERE ORDER_DATE >= CURRENT_DATE - INTERVAL '6'MONTH
		 	</when>
		 	<when test="sort == 'sales' and term == 'dateSelect'">
		 		WHERE ORDER_DATE >= #{date}
		 	</when>
		 	<when test="sort == 'company'">
		 		WHERE BOOK_NO IN (
		 			SELECT BOOK_NO FROM BOOK 
		 			WHERE COMPANY_NAME LIKE '%'||#{text}||'%'
		 		)
		 	</when>
	 		<when test="sort == 'bookTitle'">
		 		WHERE BOOK_NO IN (
		 			SELECT BOOK_NO FROM BOOK 
		 			WHERE BOOK_TITLE LIKE '%'||#{text}||'%'
		 		)
	 		</when>
		 </choose>
		GROUP BY 
		    TO_CHAR(ORDER_DATE, 'YYYY-MM-DD')
		ORDER BY 
		    ORDER_DATE ASC
	</select>
	
</mapper>
