<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminRequestMapper">

	<insert id="insertRequestList" 
			parameterType="Book" 
			useGeneratedKeys="true">
		
    INSERT INTO BOOK_REQUEST
    VALUES (
        (SELECT NVL(COUNT(REQUEST_NO), 0) + 1 AS REQUEST_NO FROM BOOK_REQUEST),
        #{currentCount},
        #{bookPrice},
        DEFAULT,
        #{bookNo}
    )
	</insert>
	
		<insert id="insertNewBookList" 
			parameterType="Request" 
			useGeneratedKeys="true">
		
    INSERT INTO BOOK_REQUEST
    VALUES (
        (SELECT NVL(COUNT(REQUEST_NO), 0) + 1 AS REQUEST_NO FROM BOOK_REQUEST),
        #{currentCount},
        #{bookPrice},
        DEFAULT,
        (SELECT NVL(MAX(BOOK_NO), 0)+1 AS BOOK_NO FROM BOOK)
    )
	</insert>
	
	<insert id="insertNewBookRequest"
					parameterType="Request"
					useGeneratedKeys="true">
		INSERT INTO NEW_BOOK_REQUEST
		VALUES(
				(SELECT NVL(COUNT(REQUEST_NO), 0) + 1 AS REQUEST_NO FROM NEW_BOOK_REQUEST),
        #{bookTitle},
        #{bookContent},
        #{bookCover},
        TO_DATE(#{bookDate}, 'YYYY-MM-DD') AS NBR_DATE
        #{bookWriter},
        #{bookTalt},
        DEFAULT,
        #{companyName},
        #{bookPageCount},
        #{bookPrice}
		)
	</insert>
	
	
</mapper>
