<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminQueryMapper">
	
	<select id="countQueryList" resultType="_int">
		<choose>
		<when test="sort == 'all'">
			SELECT
				COUNT(*)
			FROM QUERY
			ORDER BY QUERY_WRITE_DATE DESC
		</when>
			<when test="sort == 'no'">
				SELECT
					COUNT(*)
				FROM QUERY
				WHERE STATUS != 2
				ORDER BY QUERY_WRITE_DATE DESC
			</when>
			<when test="sort == 'ok'">
				SELECT
					COUNT(*)
				FROM QUERY
				WHERE STATUS = 2
				ORDER BY QUERY_WRITE_DATE DESC
			</when>
		</choose>
	</select>
	
	<select id="queryList" resultType="Query">
		<choose>
			<when test="sort == 'all'">
				SELECT
					QUERY_NO,
					MEMBER_NO,
					QUERY_TITLE,
					QUERY_CONTENT,
					QUERY_WRITE_DATE,
					QUERY_UPDATE_DATE,
					QUERY_SUBJECT,
					REPLY,
					STATUS,
					MEMBER_ID
				FROM QUERY Q
				LEFT JOIN "MEMBER" M USING(MEMBER_NO) 	
				ORDER BY STATUS ASC, QUERY_WRITE_DATE DESC, QUERY_NO DESC
			</when>
			<when test="sort == 'no'">
				SELECT
					QUERY_NO,
					MEMBER_NO,
					QUERY_TITLE,
					QUERY_CONTENT,
					QUERY_WRITE_DATE,
					QUERY_UPDATE_DATE,
					QUERY_SUBJECT,
					REPLY,
					STATUS,
					MEMBER_ID
				FROM QUERY Q
				LEFT JOIN "MEMBER" M USING(MEMBER_NO) 
				WHERE STATUS != 2
				ORDER BY QUERY_WRITE_DATE DESC, QUERY_NO DESC
			</when>
			<when test="sort == 'ok'">
				SELECT
					QUERY_NO,
					MEMBER_NO,
					QUERY_TITLE,
					QUERY_CONTENT,
					QUERY_WRITE_DATE,
					QUERY_UPDATE_DATE,
					QUERY_SUBJECT,
					REPLY,
					STATUS,
					MEMBER_ID
				FROM QUERY Q
				LEFT JOIN "MEMBER" M USING(MEMBER_NO) 
				WHERE STATUS = 2
				ORDER BY QUERY_NO DESC
			</when>
		</choose>
		 
	</select>

	<update id="insertReply">
		UPDATE QUERY
		SET 
		 REPLY = #{inputReply},
		 STATUS = 2
		WHERE QUERY_NO =#{queryNo}
	</update>
	
	<delete id="deleteQuery">
		DELETE 
		FROM "QUERY"
		WHERE QUERY_NO = #{queryNo}
	</delete>
	
	<update id="updateStatus">
		UPDATE QUERY
		SET 
		 STATUS = 1
		WHERE QUERY_NO =#{queryNo}
	</update>

</mapper>
