<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminManagerMapper">

	<select id="countAdmin" resultType="_int">
		SELECT
			COUNT(*)
		FROM "ADMIN"
		LEFT JOIN "MEMBER" USING (MEMBER_NO)
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="adminList" resultType="Member">
		SELECT
			*
		FROM "ADMIN"
		LEFT JOIN "MEMBER" USING (MEMBER_NO)
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="emailCheck" resultType="_int">
		SELECT
			COUNT(*)
		FROM "ADMIN"
		WHERE ADMIN_EMAIL = #{adminEamil}
	</select>
	
	<update id="updatePw">
		UPDATE "MEMBER"
		SET
			MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	<update id="updateName">
		UPDATE "ADMIN"
		SET
			ADMIN_NAME = #{adminName}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	<update id="updateEmail">
		UPDATE "ADMIN"
		SET
			ADMIN_EMAIL = #{adminEmail}
		WHERE MEMBER_NO = #{memberNo}
	</update>
</mapper>
