<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminNewBookMapper">

	<select id="countNewBook">
		SELECT COUNT(*)
		FROM BOOK_REQUEST
	</select>
	
	<select id="newBookList" resultType="Request">
		SELECT 
			REQUEST_NO,
			BOOK_NO,
			BOOK_TITLE,
			BOOK_CONTENT,
			BOOK_COVER,
			BOOK_DATE,
			BOOK_WRITER,
			COMPANY_NAME,
			BOOK_TALT,
			BOOK_PRICE,
			BOOK_PAGE_COUNT,
			BOOK_YN,
			REQUEST_COUNT,
			REQUEST_PRICE
		FROM BOOK B
		LEFT JOIN BOOK_REQUEST USING(BOOK_NO)
		WHERE BOOK_NO IN(
		SELECT 
		 	BOOK_NO
		FROM BOOK_REQUEST)
			UNION
		SELECT
			REQUEST_NO,
			BOOK_NO,
			NBR_NAME,
			NBR_CONTENT,
			NBR_COVER,
			NBR_DATE,
			NBR_WRITER,
			COMPANY_NAME,
			BOOK_TALT,
			BOOK_PRICE,
			BOOK_PAGE_COUNT,
			NBR_YN,
			REQUEST_COUNT,
			REQUEST_PRICE
		FROM NEW_BOOK_REQUEST
		LEFT JOIN BOOK_REQUEST USING(BOOK_NO)
		WHERE BOOK_NO IN(
		SELECT 
		 	BOOK_NO
		FROM BOOK_REQUEST)
	</select>
	
	
	
</mapper>
