<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.admin.mapper.AdminReviewMapper">

	<select id="countReview" resultType="_int">
	 	SELECT 
	 		COUNT(REVIEW_TITLE)
	 	FROM "REVIEW"
	 	LEFT JOIN "BOOK" USING (BOOK_NO)
	 	
	 	<choose>
	 		<when test="sort == 'all'">
	 			ORDER BY REVIEW_WRITE_DATE DESC
	 		</when>
	 		<when test="sort == 'gradeDown'">
	 			ORDER BY REVIEW_SCORE DESC
	 		</when>
	 		<when test="sort == 'gradeUp'">
	 			ORDER BY REVIEW_SCORE ASC
	 		</when>
	 		<when test="sort == 'title'">
	 			WHERE BOOK_TITLE = #{title}
	 		</when>
	 		<when test="sort == 'photo'">
	 			WHERE REVIEW_IMG_NO != NULL
	 		</when>
	 	</choose>
	</select>
	
		<select id="reviewList" resultType="Review">
	 	SELECT 
	 			REVIEW_NO,
	 			BOOK_NO,
				MEMBER_NO,
				REVIEW_SCORE,
				NVL(REVIEW_TITLE,'리뷰제목이 없습니다') AS REVIEW_TITLE,
				REVIEW_CONTENT,
				REVIEW_WRITE_DATE,
				REVIEW_UPDATE_DATE,
				REVIEW_IMG_NO,
				BOOK_TITLE,
				BOOK_COVER,
				MEMBER_ID
	 	FROM "REVIEW"
	 	LEFT JOIN "BOOK" USING (BOOK_NO)
	 	LEFT JOIN "MEMBER" USING (MEMBER_NO)
	 	<choose>
	 		<when test="sort == 'all'">
	 			ORDER BY REVIEW_WRITE_DATE DESC
	 		</when>
	 		<when test="sort == 'gradeDown'">
	 			ORDER BY REVIEW_SCORE DESC
	 		</when>
	 		<when test="sort == 'gradeUp'">
	 			ORDER BY REVIEW_SCORE ASC
	 		</when>
	 		<when test="sort == 'title'">
	 			WHERE BOOK_TITLE = #{title}
	 			ORDER BY REVIEW_WRITE_DATE DESC
	 		</when>
	 		<when test="sort == 'photo'">
	 			WHERE REVIEW_IMG_NO != NULL
	 			ORDER BY REVIEW_WRITE_DATE DESC
	 		</when>
	 	</choose>
	</select>
	
<delete id="deleteReview" >
  DELETE FROM REVIEW
  WHERE REVIEW_NO = #{reviewNo} 
</delete>


</mapper>
