<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="phantom.books.finalProject.myPage.mapper.MyPageMapper">



	<select id="getCategories" resultType="Category">
		SELECT
		CATEGORY_NO AS
		categoryNo,
		CATEGORY_NAME AS categoryName
		FROM "CATEGORY"
		ORDER BY
		categoryNo
	</select>

	<select id="getPreference" resultType="Preference">
		SELECT
		PREFERENCE_NO AS
		preferenceNo,
		PREFERENCE_NAME AS preferenceName
		FROM "PREFERENCE"
		ORDER
		BY preferenceNo
	</select>

	<!-- 기존 저장된 선호 카테고리 삭제 -->
	<delete id="deleteCategoryByMemberNo" parameterType="_int">
		DELETE FROM MEMBER_CATEGORY 
		WHERE MEMBER_NO = #{memberNo}
	</delete>
	
	<!-- 선호 카테고리 저장 -->
	<insert id="insertCategory">
		INSERT INTO MEMBER_CATEGORY (MEMBER_NO, CATEGORY_NO) VALUES (#{memberNo}, #{categoryNo})
	</insert>

	<!-- 기존 저장된 선호 취향 삭제 -->
	<delete id="deletePreferenceByMemberNo" parameterType="_int">
		DELETE FROM MEMBER_PREFERENCE
		WHERE MEMBER_NO = #{memberNo}
	</delete>
		
	<!-- 선호 취향 저장 -->	
	<insert id="insertPreference">
		INSERT INTO MEMBER_PREFERENCE (MEMBER_NO, PREFERENCE_NO) VALUES (#{memberNo}, #{preferenceNo})
	</insert>

	<select id="getCategoryByMemberId">
		SELECT *
		FROM "MEMBER_CATEGORY"
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<select id="getPreferenceByMemberId">
		SELECT *
		FROM "MEMBER_PREFERENCE"
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<select id="getEncryptedPassword">
		SELECT MEMBER_PW 
		FROM MEMBER 
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<update id="changeInfo" parameterType="Member">
		UPDATE MEMBER
		SET 
			ZIP = #{zip},
			ADDRESS = #{address},
			DETAIL_ADDRESS = #{detailAddress},
			ADD_ZIP = #{addZip},
			ADD_ADDRESS = #{addAddress},
			ADD_DETAIL_ADDRESS = #{addDetailAddress},
			TEL_NO = #{telNo},
			NAME = #{name},
			BIRTH_DATE = #{birthDate}
		WHERE
			MEMBER_NO = #{memberNo}
	</update>
	
	<select id="loginMemberByMemberNo" resultType="Member">
		SELECT
			MEMBER_NO,
			MEMBER_ID,
			MEMBER_PW,
			ZIP,
			ADDRESS,
			DETAIL_ADDRESS,
			ADD_ZIP,
			ADD_ADDRESS,
			ADD_DETAIL_ADDRESS,
			TEL_NO,
			TO_CHAR(BIRTH_DATE,
			'YYYY"년" MM"월" DD"일"')
			AS birthDate,
			NAME,
			RANK_NAME,
			MEMBER_DEL_FL,
			AUTHORITY,
			CATEGORY_YN
		FROM
			"MEMBER"
		WHERE MEMBER_No = #{memberNo}
	</select>
</mapper>