<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mubatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phantom.books.finalProject.payment.mapper.PaymentMapper">

    <!-- 결제 정보 저장 -->
    <insert id="insertPayment" parameterType="PaymentDto">
    INSERT INTO payment (
        order_no,
        member_no,
        total_price,
        status
    ) VALUES (
        #{orderNo},
        #{memberNo},
        #{totalPrice},
        #{status}
    );
</insert>
</mapper>
