<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="phantom.books.finalProject.searchBookPage.mapper.SearchBookPageMapper">


	<!-- 모든 책 조회 SQL 쿼리 -->
	<select id="allBook" resultType="Book">
		SELECT
		BOOK_NO AS bookNo,
		BOOK_TITLE AS bookTitle,
		BOOK_CONTENT AS bookContent,
		BOOK_COVER AS bookCover,
		BOOK_DATE AS bookDate,
		BOOK_WRITER AS bookWriter,
		COMPANY_NAME AS companyName,
		BOOK_TALT AS bookTalt,
		BOOK_PRICE AS bookPrice,
		BOOK_PAGE_COUNT AS bookPageCount,
		BOOK_YN AS bookYn
		FROM
		BOOK
	</select>

	<select id="searchBooksByTitle" resultType="Book">
		SELECT
		BOOK_NO AS bookNo,
		BOOK_TITLE AS bookTitle,
		BOOK_CONTENT AS bookContent,
		BOOK_COVER AS bookCover,
		BOOK_DATE AS bookDate,
		BOOK_WRITER AS bookWriter,
		COMPANY_NAME AS companyName,
		BOOK_TALT AS bookTalt,
		BOOK_PRICE AS bookPrice,
		BOOK_PAGE_COUNT AS bookPageCount,
		BOOK_YN AS bookYn
		FROM
		BOOK
		WHERE
		LOWER(BOOK_TITLE) LIKE '%' || LOWER(#{title}) || '%'
	</select>





	<select id="bookDetail" resultType="Book">
		SELECT
		BOOK_NO AS bookNo,
		BOOK_TITLE AS bookTitle,
		BOOK_CONTENT AS bookContent,
		BOOK_COVER AS bookCover,
		BOOK_DATE AS bookDate,
		BOOK_WRITER AS bookWriter,
		COMPANY_NAME AS companyName,
		BOOK_TALT AS bookTalt,
		BOOK_PRICE AS bookPrice,
		BOOK_PAGE_COUNT AS bookPageCount,
		BOOK_YN AS bookYn
		FROM
		BOOK
		WHERE
		BOOK_NO = ${bookNo}
	</select>


	<!-- 선택한 책을 장바구니에 담기 -->
	<insert id="putCart" parameterType="map">
			MERGE INTO CART c
			
			USING (
				<foreach collection="bookNo" item="bno" separator=" UNION ALL ">
			
					SELECT #{memberNo} AS memberNo, #{bno} AS bookNo FROM dual
			
				</foreach>
			) src
			ON (c.MEMBER_NO = src.memberNo AND c.BOOK_NO = src.bookNo)
			WHEN MATCHED THEN
			UPDATE SET c.CART_COUNT = c.CART_COUNT + 1
			WHEN NOT MATCHED THEN
			INSERT (MEMBER_NO, BOOK_NO, CART_COUNT)
			VALUES (src.memberNo, src.bookNo, 1)
	</insert>
	

	
</mapper>
