<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모든 책 조회 페이지</title>
  <link rel="stylesheet" href="/css/searchBookPage/searchBook.css">
</head>

<body>
  <header th:replace="~{common/common}"></header>
  <main>

    <section class="filter-section">
      <div class="filter-sidebar">
        <div id="selectedCategoryPopup" class="selected-popup">
          <h3>카테고리</h3>
          <button id="categoryButton" class="filter-btn">카테고리 선택</button>
          <div id="selectedCategoryValues" class="selected-values">선택한 항목</div>
        </div>
        <div id="selectedPreferencePopup" class="selected-popup">
          <h3>취향</h3>
          <button id="preferenceButton" class="filter-btn">취향 선택</button>
          <div id="selectedPreferenceValues" class="selected-values">선택한 항목</div>
        </div>
      </div>
    </section>







    <!-- 체크박스 창 (기본적으로 숨김) -->
    <div id="checkboxCategory" class="checkbox-category">
      <!-- 4x5 체크박스 그리드 -->
      <div class="checkbox-categoryList">
        <div class="myCategoryBringingIn">
          <label>
            <button id="myCategoryBringingInBtn"> 내 카테고리 불러오기</button>
            <button id="catBtnAllCancel" hidden>전체 선택 취소</button>
          </label>
          </div>

        <label><input type="checkbox" value="1" th:checked="${param.category != null and param.category.contains('1')}"
            class="categoryCheckbox">소설</label>
        <label><input type="checkbox" value="2" th:checked="${param.category != null and param.category.contains('2')}"
            class="categoryCheckbox">비문학</label>
        <label><input type="checkbox" value="3" th:checked="${param.category != null and param.category.contains('3')}"
            class="categoryCheckbox">역사</label>
        <label><input type="checkbox" value="4" th:checked="${param.category != null and param.category.contains('4')}"
            class="categoryCheckbox">과학</label>
        <label><input type="checkbox" value="5" th:checked="${param.category != null and param.category.contains('5')}"
            class="categoryCheckbox">자기개발</label>
        <label><input type="checkbox" value="6" th:checked="${param.category != null and param.category.contains('6')}"
            class="categoryCheckbox">판타지</label>
        <label><input type="checkbox" value="7" th:checked="${param.category != null and param.category.contains('7')}"
            class="categoryCheckbox">미스터리</label>
        <label><input type="checkbox" value="8" th:checked="${param.category != null and param.category.contains('8')}"
            class="categoryCheckbox">철학</label>
        <label><input type="checkbox" value="9" th:checked="${param.category != null and param.category.contains('9')}"
            class="categoryCheckbox">문학</label>
        <label><input type="checkbox" value="10"
            th:checked="${param.category != null and param.category.contains('10')}" class="categoryCheckbox">예술</label>
        <label><input type="checkbox" value="11"
            th:checked="${param.category != null and param.category.contains('11')}" class="categoryCheckbox">고전</label>
        <label><input type="checkbox" value="12"
            th:checked="${param.category != null and param.category.contains('12')}"
            class="categoryCheckbox">심리학</label>
        <label><input type="checkbox" value="13"
            th:checked="${param.category != null and param.category.contains('13')}"
            class="categoryCheckbox">경제경영</label>
        <label><input type="checkbox" value="14"
            th:checked="${param.category != null and param.category.contains('14')}" class="categoryCheckbox">정치</label>
        <label><input type="checkbox" value="15"
            th:checked="${param.category != null and param.category.contains('15')}" class="categoryCheckbox">여행</label>
        <label><input type="checkbox" value="16"
            th:checked="${param.category != null and param.category.contains('16')}" class="categoryCheckbox">수필</label>
        <label><input type="checkbox" value="17"
            th:checked="${param.category != null and param.category.contains('17')}" class="categoryCheckbox">종교</label>
        <label><input type="checkbox" value="18"
            th:checked="${param.category != null and param.category.contains('18')}" class="categoryCheckbox">교육</label>
        <label><input type="checkbox" value="19"
            th:checked="${param.category != null and param.category.contains('19')}"
            class="categoryCheckbox">스포츠</label>
        <label><input type="checkbox" value="20"
            th:checked="${param.category != null and param.category.contains('20')}" class="categoryCheckbox">요리</label>
      </div>
    </div>



    <!-- Preference 체크박스 창 (기본적으로 숨김) -->
    <div id="checkboxPreference" class="checkbox-category">
      <!-- 4x5 체크박스 그리드 -->
      <div class="checkbox-preferenceList">
        <div class="myPreferenceBringingIn">
          <label>
            <button id="myPreferenceBringingInBtn"> 내 취향 불러오기</button>
            <button id="preBtnAllCancel" hidden>전체 선택 취소</button>    
          </label>
        </div>
        <label><input type="checkbox" value="1"
            th:checked="${param.preference != null and param.preference.contains('1')}"
            class="preferenceCheckbox">감성적</label>
        <label><input type="checkbox" value="2"
            th:checked="${param.preference != null and param.preference.contains('2')}"
            class="preferenceCheckbox">철학적</label>
        <label><input type="checkbox" value="3"
            th:checked="${param.preference != null and param.preference.contains('3')}"
            class="preferenceCheckbox">심리학적</label>
        <label><input type="checkbox" value="4"
            th:checked="${param.preference != null and param.preference.contains('4')}"
            class="preferenceCheckbox">모험</label>
        <label><input type="checkbox" value="5"
            th:checked="${param.preference != null and param.preference.contains('5')}"
            class="preferenceCheckbox">스릴</label>
        <label><input type="checkbox" value="6"
            th:checked="${param.preference != null and param.preference.contains('6')}"
            class="preferenceCheckbox">논리적</label>
        <label><input type="checkbox" value="7"
            th:checked="${param.preference != null and param.preference.contains('7')}"
            class="preferenceCheckbox">서정적</label>
        <label><input type="checkbox" value="8"
            th:checked="${param.preference != null and param.preference.contains('8')}"
            class="preferenceCheckbox">지적</label>
        <label><input type="checkbox" value="9"
            th:checked="${param.preference != null and param.preference.contains('9')}"
            class="preferenceCheckbox">분석적</label>
        <label><input type="checkbox" value="10"
            th:checked="${param.preference != null and param.preference.contains('10')}" class="preferenceCheckbox">영감을
          주는</label>
        <label><input type="checkbox" value="11"
            th:checked="${param.preference != null and param.preference.contains('11')}" class="preferenceCheckbox">휴식과
          치유</label>
        <label><input type="checkbox" value="12"
            th:checked="${param.preference != null and param.preference.contains('12')}"
            class="preferenceCheckbox">현실적</label>
        <label><input type="checkbox" value="13"
            th:checked="${param.preference != null and param.preference.contains('13')}"
            class="preferenceCheckbox">공상적</label>
        <label><input type="checkbox" value="14"
            th:checked="${param.preference != null and param.preference.contains('14')}"
            class="preferenceCheckbox">사회적</label>
        <label><input type="checkbox" value="15"
            th:checked="${param.preference != null and param.preference.contains('15')}"
            class="preferenceCheckbox">연애</label>
        <label><input type="checkbox" value="16"
            th:checked="${param.preference != null and param.preference.contains('16')}"
            class="preferenceCheckbox">가족</label>
        <label><input type="checkbox" value="17"
            th:checked="${param.preference != null and param.preference.contains('17')}"
            class="preferenceCheckbox">도전적</label>
        <label><input type="checkbox" value="18"
            th:checked="${param.preference != null and param.preference.contains('18')}"
            class="preferenceCheckbox">코믹한</label>
        <label><input type="checkbox" value="19"
            th:checked="${param.preference != null and param.preference.contains('19')}"
            class="preferenceCheckbox">추리적</label>
        <label><input type="checkbox" value="20"
            th:checked="${param.preference != null and param.preference.contains('20')}"
            class="preferenceCheckbox">예술적</label>
      </div>
    </div>





    <form action="/addBooks" method="PUT" id="bookForm">

      <div class="search-result-container">
        <div class="search-result">
          <p>검색결과 (<span th:text="${totalCount}">0</span>건)</p>
        </div>

        <div class="options-and-apply">
          <select name="searchOption" id="searchOptionSelect">
            <option value="none">=== 선택 ===</option>
            <option value="highScore">평점 높은순</option>
            <option value="lowScore">평점 낮은순</option>
            <option value="manyReview">리뷰 많은순</option>
            <option value="fewReview">리뷰 적은순</option>
            <option value="highPrice">가격 높은순</option>
            <option value="lowPrice">가격 낮은순</option>
          </select>
          <button type="button" id="applyOption">적용</button>
        </div>


        <div class="check-toGo">
          <label class="allCheck">
            <button type="button" id="selectAllButton" th:if="${session.loginMember != null}"><i
                class="fas fa-check-square"></i> 전체선택</button>
          </label>
          <label class="check-bagButton">
            <button type="button" onclick="ifChecked('cart')" th:if="${session.loginMember != null}">
              <i class="fas fa-shopping-cart"></i> 장바구니
            </button></label>
          <label class="check-wishListButton">
            <button type="button" onclick="ifChecked('wishlist')" th:if="${session.loginMember != null}">
              <i class="fas fa-heart"></i> 찜
            </button>
          </label>
        </div>
      </div>



      <div th:each="book : ${bookList}" class="book-item" data-book-no="${book.bookNo}"
        data-score-avg="${book.scoreAvg}">
        <div class="checkbox-wrapper-39">
          <label>
            <input type="checkbox" 
                   th:value="${book.bookNo}" 
                   class="book-checkbox" 
                   id="bookCheckbox">
            <span class="checkbox"></span>
          </label>
        </div>
        
        <div class="book-item-image">
          <img th:src="${book.bookCover != null ? book.bookCover : '/images/bookCover/default.jpg'}" alt="책 이미지">
        </div>
        <a th:href="@{/searchBookPage/bookDetail/{bookNo}(bookNo=${book.bookNo})}" class="bookItemAtag">
          <div class="book-item-details">
            <div class="book-item-info">
              <p>책 제목 : 
                <span class="book-title" th:text="${book.bookTitle}">책 제목</span><br>
                카테고리 :
                <span th:text="${book.categoryName != null ? book.categoryName : 'No Category'}"></span>
              </p>

              <div class="perStars">
                <div class="stars" title="평점">
                  <!-- 배경 별 -->
                  <div class="stars-background" style='position:absolute; width:100%; overflow:hidden; color:#cdcdcd;'>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <!-- 실제 별 -->
                  <div class="stars-real"
                    th:style="'width: ' + ${(book.scoreAvg / 5) * 100} + '%; position: absolute; overflow: hidden; white-space: nowrap;'">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <p>평점: <span th:text="${book.scoreAvg}">0.0</span>
                </p>

                <p>지은이:
                  <span th:text="${book.bookWriter}">지은이</span>
                </p>
                <p>출판사:
                  <span th:text="${book.companyName}">출판사</span>
                </p>
                <p>옮긴이:
                  <span th:text="${book.bookTalt != null ? book.bookTalt : '없음'}"></span>
                </p>
                <p>가격:
                  <span th:text="${book.bookPrice}">0</span>원
                </p>
                <p>출간일: <span th:text="${book.bookDate.substring(0, 10)}">출간일</span></p>
              </div>

            </div>
          </div>
        </a>
        <div class="book-item-actions">
          <label class="buttonBag">
            <i class="fas fa-shopping-cart" id="shoppingCartId" 
            onclick="singleCartBtn(this)" th:if="${session.loginMember != null}" 
            title="장바구니" style="cursor: pointer; color: #f39c12;"></i>
          </label>
        
          <label class="buttonWish">
            <i class="fas fa-heart" id="heartId"
            th:class="${#lists.contains(wishList, book.bookNo)} ? 'fas fa-heart fa-solid' : 'far fa-heart fa-regular'"
             onclick="singleWishListBtn(this)" th:if="${session.loginMember != null}"
             title="찜" style="cursor: pointer; color: #e74c3c;"></i>
             
          </label>
        </div>
      </div>
      </div>

    </form>

    <!-- 페이지네이션 -->
    <div class="pagination-area" th:unless="${#lists.isEmpty(bookList)}">
      <ul class="pagination" th:object="${pagination}">
        <li><a href="#">&lt;&lt;</a></li>
        <li><a href="#">&lt;</a></li>
        <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
          <li th:if="${i} == *{currentPage}">
            <a class="current" th:text="${i}">현재 페이지</a>
          </li>
          <li th:unless="${i} == *{currentPage}">
            <a href="#" th:text="${i}">이동할 수 있는 페이지</a>
          </li>
        </th:block>
        <li><a href="#">&gt;</a></li>
        <li><a href="#">&gt;&gt;</a></li>
      </ul>
    </div>

  </main>
  <script th:inline="javascript">
    const pagination = /*[[${pagination}]]*/ {};
  </script>
  <footer th:replace="~{common/footer :: footer}"></footer>
  <script src="/js/searchBookPage/allBook.js"></script>
  <!--   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>