.sideBar {
  max-width: 250px;
  height: 100vh;
  background-color: #EFEFEF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 12px;
}
.sideBar ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sideBar ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sideBar a {
  text-decoration: none;
  color: black;
}

.sideBar a:visited {
  color: black;
  /* 방문 후 색상도 검정으로 고정 */
}

.sideBar a:hover {
  text-decoration: underline;
  /* 마우스 올리면 밑줄 표시 */
}

.submenu {
  display: none; /* 처음엔 숨겨진 상태 */
  list-style-type: none;
  padding-left: 20px;
}

.submenu li {
  padding: 5px 0;
}

/* 기존 스타일 */
.menu-item {
  font-size: 18px; /* 예시로 메인 메뉴 글자 크기 */
  font-weight: bold;
}

/* 서브메뉴 스타일 추가 */
.submenu li a {
  font-size: 16px; /* 서브메뉴의 글자 크기를 조정합니다 */
  font-weight: normal;
  color: #333; /* 원하는 글자 색상을 지정합니다 */
  padding: 5px 10px;
  text-decoration: none; /* 링크 아래의 밑줄을 제거합니다 */
}

.submenu li a:hover {
  color: #007bff; /* 서브메뉴 항목에 마우스를 올렸을 때 색상 변경 */
}

.menu{
  cursor: pointer;
}