.sideBar {
  max-width: 250px;
  height: 100vh;
  background-color: #EFEFEF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}