<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 확인</title>
  <link rel="stylesheet" href="/css/member/findId.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <header th:replace="~{common/common}"></header>

  <main>
    <section class="content-box">
      <div class="category-container container mt-3 mb-3 pb-3 pt-3 bg-light rounded shadow">

        <div class="button-section" id="buttonSection">
          <button type="button" id="findIdBtn" class="btn btn-primary active" style="background-color: rgb(29,30,57); border-color: rgb(29,30,57);">아이디 찾기</button>
          <button type="button" id="findPwBtn" class="btn btn-outline-secondary active">비밀번호 찾기</button>
        </div>

        <div class="progress-breadcrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" id="stepPhone">
                <i class="bi bi-phone"></i>
                전화번호 인증&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li class="breadcrumb-item" id="stepResult">
                &nbsp;&nbsp;&nbsp;<i class="bi bi-check-circle"></i>
                아이디 결과&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li class="breadcrumb-item" id="stepId">
                &nbsp;&nbsp;&nbsp;<i class="bi bi-person"></i>
                아이디 확인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li class="breadcrumb-item" id="stepPassword">
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-key"></i>
                비밀번호 변경&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
            </ol>
          </nav>
        </div>

        <div class="row mt-3 mb-3" id="checkTelNoSection">
          <div class="col-12">
            <div class="card sticky-card max-width">
              <div class="card-header">
                <h2 style="font-weight: bold;">가입한 전화번호로 본인 인증</h2>
              </div>
              <div class="d-flex flex-wrap gap-2 col-12">
                <div class="card-body">
                  <form action="#" method="POST" name="checkTelNoForm" id="checkTelNoForm"
                    class="needs-validation mx-auto mt-4" style="width: 60%;" novalidate>

                    <!-- 전화번호 입력, 인증 문자 발송 버튼 -->
                    <div class="form-floating row g-3 mb-2 mt-2 position-relative">
                      <div class="form-floating col-7 position-relative">
                        <input type="tel" class="form-control" id="telNo" name="telNo" placeholder="" maxlength="11"
                          autocomplete="off" required>
                        <label for="telNo">전화번호 (-없이 숫자만 작성해주세요)</label>
                        <button type="button" id="phoneClearBtn" class="btn-close clear-btn"
                          onclick="clearInput('telNo')" aria-label="Clear" tabindex="-1"></button>
                        <div class="invalid-feedback">전화번호를 입력해주세요.</div>
                      </div>
                      <div class="col-auto">
                        <button type="button" id="phoneCheckBtn" class="btn btn-primary" style="display: none; background-color: #205375; border-color: #205375;">전화번호
                          인증</button>
                        <button type="button" id="phoneChangeBtn" class="btn btn-danger" style="display: none;">전화번호
                          변경</button>
                      </div>
                    </div>

                    <!-- 인증번호 입력, 인증 버튼 -->
                    <div class="form-floating row g-3 mb-2 mt-2 position-relative" id="verificationSection"
                      style="display: none;">
                      <div class="form-floating col-7 position-relative">
                        <input type="text" class="form-control" id="floatingPhoneCheck" placeholder="" maxlength="4"
                          autocomplete="off" required>
                        <label for="floatingPhoneCheck">인증번호 확인</label>
                        <button type="button" id="phoneCheckClearBtn" class="btn-close clear-btn"
                          onclick="clearInput('floatingPhoneCheck')" aria-label="Clear" tabindex="-1"></button>
                        <span id="timer" class="timer-text"></span>
                      </div>
                      <div class="col-auto">
                        <button type="button" id="phoneCertifiedBtn" class="btn btn-primary" style="background-color: #205375; border-color: #205375;">인증번호 인증</button>
                      </div>
                    </div>


                    <!-- 인증 버튼 -->
                    <button id="phoneSubmitBtnDanger" class="btn btn-danger col-10" disabled style="width: 57.5%;">전화번호 인증 절차을
                      완료해주세요</button>
                    <button type="submit" id="phoneSubmitBtnSuccess" class="btn btn-success col-10"
                      style="display: none; width: 57.5%;">전화번호 인증</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-3" id="checkIdSection" style="display: none;">
          <div class="col-12">
            <div class="card sticky-card max-width">
              <div class="card-header">
                <h2 style="font-weight: bold;">아이디 확인</h2>
              </div>
              <div class="d-flex flex-wrap gap-2 col-12">
                <div class="card-body">
                  <form action="#" method="POST" name="checkIdForm" id="checkIdForm"
                    class="needs-validation mx-auto mt-4" style="width: 60%;" novalidate>
                    <div class="form-floating row g-3 mb-2 mt-2 position- relative">
                      <div class="form-floating col-7 position-relative">
                        <input type="tel" class="form-control" id="verifiedTelNo" name="verifiedTelNo"
                          placeholder="" maxlength="11" autocomplete="off" required readonly>
                        <label for="verifiedTelNo">인증 완료된 전화번호</label>
                      </div>
                    </div>
                    <div class="form-floating row g-3 mb-2 mt-2 position-relative">
                      <div class="form-floating col-7 position-relative">
                        <input type="text" class="form-control" id="memberId" name="memberId" placeholder=""
                          autocomplete="off" required>
                        <label for="memberId">아이디를 입력해주세요</label>
                        <button type="button" id="idClearBtn" class="btn-close clear-btn"
                          onclick="clearInput('memberId')" aria-label="Clear" tabindex="-1"></button>
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary" style="background-color: #205375; border-color: #205375;">아이디 확인</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-3" id="idResultSection" style="display: none;">
          <div class="col-12">
            <div class="card sticky-card max-width">
              <div class="card-header">
                <h2 style="font-weight: bold;">아이디 찾기 결과</h2>
              </div>
              <div class="card-body">
                <p id="foundIdMessage"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3" id="findPwSection" style="display: none;">
          <div class="col-12">
            <div class="card sticky-card max-width">
              <div class="card-header">
                <h2 style="font-weight: bold;">비밀번호 변경</h2>
              </div>
              <div class="d-flex flex-wrap gap-2 col-12 ">
                <div class="card-body">
                  <form action="changePw" method="POST" name="changePwForm" id="changePwForm"
                    class="needs-validation mx-auto mt-4" style="width: 60%;" novalidate>

                    <!-- 새로운 비밀번호 입력, 요청사항 -->
                    <div class="form-floating row g-3 mb-2 mt-2 position-relative">
                      <div class="form-floating col-7 position-relative">
                        <input type="password" class="form-control" id="memberPw" name="memberPw" placeholder=""
                          maxlength="12" autocomplete="off" required>
                        <label for="memberPw">변경할 비밀번호</label>
                        <button type="button" id="passwordClearBtn" class="btn-close clear-btn"
                          onclick="clearInput('memberPw')" aria-label="Clear" tabindex="-1"></button>
                        <div class="invalid-feedback">변경할 비밀번호를 입력해주세요.</div>
                      </div>
                      <div class="col-auto">
                        <span id="passwordHelpLength" class="form-text">8~12자 사이로</span> <br>
                        <span id="passwordHelpChars" class="form-text">문자, 특수문자, 숫자를 모두 사용</span>
                      </div>
                      <div class="col-auto">
                        <button type="button" id="passwordChangeBtn" class="btn btn-danger" style="display: none;">비밀번호
                          변경</button>
                      </div>
                    </div>

                    <!-- 새로운 비밀번호 확인 입력 -->
                    <div id="passwordConfirmSection" class="form-floating row g-3 mb-2 mt-2 position-relative">
                      <div class="form-floating col-7 position-relative">
                        <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder=""
                          maxlength="12" autocomplete="off" required>
                        <label for="floatingPasswordConfirm">변경할 비밀번호 확인</label>
                        <button type="button" class="btn-close clear-btn"
                          onclick="clearInput('floatingPasswordConfirm')" aria-label="Clear" tabindex="-1"></button>
                        <div class="invalid-feedback" id="passwordConfirmHelp">비밀번호가 일치하지 않습니다.</div>
                      </div>
                      <div class="col-auto">
                        <button type="button" id="passwordConfirmBtn" class="btn btn-primary"
                          style="display: none; background-color: #205375; border-color: #205375;">비밀번호 사용하기</button>
                      </div>
                    </div>

                    <!-- 변경 버튼 -->
                    <button id="passwordSubmitBtnDanger" class="btn btn-danger col-10" disabled style="width: 57.5%;">새로운 비밀번호를
                      입력해주세요</button>
                    <button type="submit" id="passwordSubmitBtnSuccess" class="btn btn-success col-10"
                      style="display: none; width: 57.5%;">변경하기</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>

  <footer th:replace="~{common/footer :: footer}"></footer>
  <script src="/js/member/findId.js"></script>
</body>

</html>