<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>장바구니 페이지</title>
  <link rel="stylesheet" href="/css/cart/cart.css">
</head>

<body>
  <header th:replace="~{common/common}"></header>
  <main class="cartMain">
    <div class="cartContainer">
      <section class="cartSection">
        <h2>장바구니</h2>
        <table class="cartTable">
          <thead>
            <tr>
              <th>
                <div class="checkbox-wrapper-23">
                  <input type="checkbox" id="selectAllCheckbox">
                  <label for="selectAllCheckbox" style="--size: 30px">
                    <svg viewBox="0,0,50,50">
                      <path d="M5 30 L 20 45 L 45 5"></path>
                    </svg>
                  </label>
                  <span>전체 선택</span>
                </div>
              </th>
              <th></th>
              <th>상품명</th>
              <th>가격</th>
              <th>수량</th>
              <th>
                <button id="deleteAllButton" class="delete-all-btn">선택 삭제</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${cartItems}">
              <td>
                <div class="checkbox-wrapper-23">
                  <input type="checkbox" th:id="'checkbox-' + ${item.bookNo}" th:name="'checkbox-' + ${item.bookNo}">
                  <label th:for="'checkbox-' + ${item.bookNo}" style="--size: 30px">
                    <svg viewBox="0,0,50,50">
                      <path d="M5 30 L 20 45 L 45 5"></path>
                    </svg>
                  </label>
                </div>
              </td>
              <td>
                <a th:href="@{/searchBookPage/bookDetail/{bookNo}(bookNo=${item.bookNo})}">
                  <img th:src="${item.bookCover != null ? item.bookCover : '/images/bookCover/default.jpg'}"
                    alt="Book Cover" class="book-cover">
                </a>
              </td>

              <td>
                <a th:href="@{/searchBookPage/bookDetail/{bookNo}(bookNo=${item.bookNo})}">
                  <span th:text="${item.bookTitle}"></span>
                </a>
              </td>
              <td class="book-price" th:data-price="${item.bookPrice}"></td>

              <td>
                <div class="quantity-control">
                  <button type="button" class="quantity-btn decrease">-</button>
                  <input type="number" th:value="${item.cartCount}" min="1" class="quantity-input">
                  <button type="button" class="quantity-btn increase">+</button>
                </div>
              </td>
              <td>
                <button class="delete-btn" th:attr="data-id=${item.bookNo}">X</button>

              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="cartOrderSection">
        <div>
          <table>
            <tr class="totalPriceTable">
              <td>총 상품가격</td>
              <td id="totalPrice">0 원</td>
            </tr>
            <tr class="deliveryFeeTable">
              <td>배송비</td>
              <td id="deliveryFee">3,500 원</td>
            </tr>

            <tr class="totalPaymentTable">
              <td>결제 예정 금액</td>
              <td id="totalPayment">0 원</td>
            </tr>
          </table>
        </div>
        <button class="selectBookOrderBtn" id="orderButton">선택한 상품 주문</button>
      </section>
    </div>
    <section class="cartRecommendContainer">
      <h2>추천 도서</h2>
      <div class="recommendWrapperContainer">
        <div class="recommendation-wrapper" id="scroll-container">
          <ul class="recommendation-list">
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend1.jpg" alt="추천 도서 1">
                <h3>추천 도서 1</h3>
                <p>12,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend2.jpg" alt="추천 도서 2">
                <h3>추천 도서 2</h3>
                <p>15,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend3.jpg" alt="추천 도서 3">
                <h3>추천 도서 3</h3>
                <p>10,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend4.jpg" alt="추천 도서 4">
                <h3>추천 도서 4</h3>
                <p>10,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend5.jpg" alt="추천 도서 5">
                <h3>추천 도서 5</h3>
                <p>10,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend6.jpg" alt="추천 도서 6">
                <h3>추천 도서 6</h3>
                <p>10,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend7.jpg" alt="추천 도서 7">
                <h3>추천 도서 7</h3>
                <p>10,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend8.jpg" alt="추천 도서 8">
                <h3>추천 도서 8</h3>
                <p>10,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend9.jpg" alt="추천 도서 9">
                <h3>추천 도서 9</h3>
                <p>10,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend10.jpg" alt="추천 도서 10">
                <h3>추천 도서 10</h3>
                <p>10,000원</p>
              </a>
            </li>
            <li class="recommendation-item">
              <a href="#">
                <img src="recommend11.jpg" alt="추천 도서 11">
                <h3>추천 도서 11</h3>
                <p>10,000원</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="slider-indicator">
          <div class="scroll-bar"></div>
        </div>
      </div>
    </section>
  </main>

  <div th:replace="~{common/footer :: footer}"></div>

  <script src="/js/cart/cart.js" defer></script>

</body>

</html>