/* 폰트 스타일 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 드롭다운 스타일 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
  background-color: #EFEFEF;
  font-family: 'Pretendard-Regular';
  box-sizing: border-box;
  /* border: 1px black solid; */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* 스크롤 없애기 */
}

.header{
  width: auto;
  height: 70px;
  margin: 0;

  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: flex-end;
}
/* 로고 */
.logo {
  position: absolute;
  left: 3%;
  top: 5%;
  transform: translate(-50%, -50%);
}

.logo img {
  max-width: 80px;
  max-height: 80px;
}

.function{
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  width: 500px;
}

.adminName{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
body{
  width: 1800px;
  height: 880px;
}

.content{
  width: 1800px;
  height: 800px;
  display: flex;
  flex-direction: row;

}
/* 사이드바 css입니당 */
.sideBar {
  min-width: 250px;
  height: 100vh;
  background-color: #EFEFEF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.menu {
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  position: relative;
}

.menu:hover {
  color: #007bff;
}


.submenu {
  list-style: none;
  margin: 10px 0 0 15px;
  padding: 0;
  display: none;
}

.submenu li {
  margin-bottom: 10px;
}

.submenu li a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.submenu li a:hover {
  color: #007bff;
}

.menu.active .submenu {
  display: block;
}

.calendar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1500px;
  height: 700px;
  margin-left: 80px;
}

.calendar-box{
  width: 750px;
  height: 700px;
}

.d-flex{
  width: 750px;
  height: 700px;
} 

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
  color: var(--bs-emphasis-color);
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: var(--bs-secondary-bg);
}
.cal-btn[disabled] {
  border: 0;
  opacity: .5;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  width: 100%; 
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}

.fc-day-mon a{
  color: gray;
}

.fc-day-tue a{
  color: gray;
}

.fc-day-wed a {
  color: gray;
}
.fc-day-thu a {
  color: gray;
}

.fc-day-fri a {
  color: gray;
}

.fc-button-primary {
  color: red;
}

#calendar{
  height: 550px;
  width: 900px;
}

.fc-event-title {
  color: black;
}