
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  border: 1px solid black;
  font-family: 'Pretendard-Regular';
}

.content-box{
  display: flex;
  flex-direction: row;
  align-items: start;
}

.sideBar{
  width: 300px;
  height: 850PX;
  margin-right: 50px;
}

.content{
  display: flex;
  flex-direction: column;
}

.date{
  width: 1500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.date > button, input {
  height: 40px;
  margin-right: 20px;
}


.sales{
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-box{
  display: flex;
  justify-content: row;
  height: 700px;
}

.graph{
  width: 1000px;
  height: 550px;
}

.salesRank{
  width: 500px;
  height: 550px;
}

.salesRank > table{
  font-size: 12px;
  font-weight: bold;
}

.sales-table{
  width: 500px;
  height: 520px;
}