*{
  border: 1px solid black;
}

body{
  width: 1800px;
  height: 880px;
  
}

.content{
  margin-left: 300px;
  display: flex;
  flex-direction: column;
}

.date{
  width: 1600px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.date > button, input {
  height: 40px;
  margin-right: 20px;
}


.sales{
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-box{
  display: flex;
  justify-content: row;
  margin-top: 50px;
  height: 550px;
}

.graph{
  width: 1200px;
  height: 550px;
}

.salesRank{
  width: 500px;
  height: 550px;
}

.salesRank > table{
  font-size: 25px;
  font-weight: bold;
}

.sales-table{
  width: 500px;
  height: 440px;
}