*{
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.content-box{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  margin-top: 10px;
}

.sideBar{
  width: 300px;
  height: 850px;
  margin-right: 80px;
}

.content{
  display: flex;
  flex-direction: column;
  width: 1500px;
  height: 850px;
}

.sortSelect{
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;
  margin-left: 1200px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

.query-box{
  width: 1500px;
  height: 850px;
}

.query{
  margin-bottom: 10px;
}

.queryContent{
  margin-bottom: 10px;
  width: 1500px;
}

.status{
  width: 200px;
  text-align: center;
}
.title{
  width: 900px;
  text-align: center;
}
.writer{
  width: 200px;
  text-align: center;
}
.writeDate{
  width: 200px;
  text-align: center;
}


