*{
  border: 1px solid black;
}

body{
  width: 1800px;
  height: 880px;
}

.content{
  width: 1800px;
  height: 800px;
  display: flex;
  flex-direction: row;

}
.sideBar{
  height: auto;
  width: 300px;
  margin-right: 80px;
}

.calendar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1500px;
  height: 700px;
  margin-left: 80px;
}

.calendar-box{
  width: 750px;
  height: 700px;
}

.d-flex{
  width: 750px;
  height: 700px;
} 

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
  color: var(--bs-emphasis-color);
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: var(--bs-secondary-bg);
}
.cal-btn[disabled] {
  border: 0;
  opacity: .5;
}