
/* 드롭다운 스타일 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.content-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  width: 100%; 
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}


/* 사이드바 css입니당 */
.sideBar {
  min-width: 250px;
  height: 100vh;
  background-color: #EFEFEF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.menu {
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  position: relative;
}

.menu.active {
  color: #007bff; /* 활성화된 상태의 색상 */
}

.menu:hover {
  color: #007bff;
}


.submenu {
  list-style: none;
  margin: 10px 0 0 15px;
  padding: 0;
  display: none;
}

.submenu li {
  margin-bottom: 10px;
}

.submenu li a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.submenu li a:hover {
  color: #007bff;
}

.menu.active .submenu {
  display: block;
}

.content {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #efefef;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 0; 
  max-width: 100%;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: auto;
}

.red {
  font-weight: bold;
  color: red;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 기본적으로 clear-btn 버튼 숨기기 */
.clear-btn {
  display: none;
  position: absolute;
  
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
}



/* 입력 필드의 오른쪽 여백을 늘려서 유효성 아이콘과 clear-btn이 겹치지 않도록 조정 */
.form-control {
  padding-right: 60px; /* 여유 있는 오른쪽 패딩 추가 */
}


div label {
  margin-left: 3px; /* input 깨짐 방지 */
}

#submitBtn{
  margin-bottom: 100px;
}