<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="*{queryTitle}">1:1 문의 내역</title>
  <link rel="stylesheet" href="/css/customer/inquiryDetail.css">
  <script src="https://kit.fontawesome.com/890489b5e8.js" crossorigin="anonymous"></script>
</head>

<body>
  <div th:replace="~{common/common}"></div>

  <main class="inquiryDetailContainer">

    <div th:replace="~{common/side-menu}"></div>

    <div class="mainContent">
      <section class="board-detail" th:object="${inquiry}">
        <h2 class="board-title" th:utext="*{queryTitle}">게시글 제목</h2>
        <div class="board-header">

          <p>
            <span>작성일</span>
            <th:block th:text="*{queryWriteDate}"></th:block>

            <th:block th:if="*{queryUpdateDate}">
              <span>&nbsp;&nbsp;&nbsp;&nbsp;마지막 수정일</span>
              <th:block th:text="*{queryUpdateDate}"></th:block>
            </th:block>
          </p>
        </div>
        <div class="inquiryDetail-content" th:utext="${inquiry.queryContent}">
          내용
        </div>

        <div class="inquiryDetail-content2">
          <span>관리자 답변</span>
          <p th:if="${inquiry.reply != null}" th:text="*{reply}"></p>
          <p th:if="${inquiry.reply == null}">작성된 답글이 없습니다.</p>
        </div>

        <div class="notice-btn-area">
          <div class="left-buttons">
            <button class="quiry-update" onclick="location.href='/customer/inquiryUpdate/${queryNo}'">수정</button>
            <button class="quiry-delete" onclick="quiryDelete()">삭제</button>
          </div>
          <a href="/customer/inquiry" id="goToListBtn">목록으로</a>
        </div>


      </section>
    </div>
  </main>

  <div th:replace="~{common/footer}"></div>
  <script src="/js/customer/inquiryDetail.js"></script>
  <script th:inline="javascript">
    const queryNo = /*[[${inquiry.queryNo}]]*/ null;
  </script>
</body>

</html>