<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 이름</title>
  <link rel="stylesheet" href="/css/customer/noticeDetail.css">
  <script src="https://kit.fontawesome.com/890489b5e8.js" crossorigin="anonymous"></script>
</head>

<body>
  <div th:replace="~{common/common}"></div>

  <main class="noticeDetailContainer">
    <div th:replace="~{common/side-menu}"></div>

    <div class="mainContent">
      <section class="notice-detail" th:object="${notice}">
        <!-- 제목 -->
        
        <!-- 작성일 + 조회수 -->
        <h2 class="notice-title" th:text="*{title}">게시글 제목</h2>
        <div class="notice-header">
          <p>

            <span>작성일:</span>
            <th:block th:text="*{createDate}">2024-11-21</th:block>
          </p>
          <p>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;조회수:</span>
            <th:block th:text="*{view}">2147483647</th:block>
          </p>
        </div>

        <!-- 내용 -->
        <div class="notice-content" th:text="*{content}">
          공지사항 내용이 여기에 표시됩니다.
        </div>

        <!-- 버튼 영역 -->
        <div class="notice-btn-area">
          <button id="goToListBtn">목록으로</button>
        </div>
      </section>
    </div>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/customer/noticeDetail.js"></script>
</body>

</html>
